
body{
    background-image: url('bulb.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1{
    text-align: center;
}

table, td {
    border: 5px dashed #332e2e;
  text-align: left;
}
table {
    border-collapse: collapse;
}
*{
    font-size: 25px;
    color: white;
}